In [68]:
import opendatasets as od
import pandas as pd
import time
from pathlib import Path
import time
from functools import reduce

In [69]:
dataset_path = Path('New York City Airbnb Open Data', 'AB_NYC_2019.csv')
if not dataset_path.is_file():
    od.download('https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data')

Skipping, found downloaded files in ".\new-york-city-airbnb-open-data" (use force=True to force download)

In [70]:
df=pd.read_csv(r'C:\Users\Roman33\Big Data\new-york-city-airbnb-open-data\AB_NYC_2019.csv')

In [71]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [75]:
%%time
df['price'].mean()

CPU times: total: 0 ns
Wall time: 0 ns

152.7206871868289

In [73]:
%%time
df['price'].var()

CPU times: total: 0 ns
Wall time: 996 µs

57674.02524696084

In [76]:
# Функция map для вычисления суммы и суммы квадратов
def map_function(df):
    sum_price = df['price'].sum()
    sum_squares = (df['price'] ** 2).sum()
    count = df['price'].count()
    return sum_price, sum_squares, count

In [77]:
# Функция reduce для агрегации результатов
def reduce_function(mapped_values):
    total_sum_price, total_sum_squares, total_count = 0, 0, 0
    for sum_price, sum_squares, count in mapped_values:
        total_sum_price += sum_price
        total_sum_squares += sum_squares
        total_count += count
    return total_sum_price, total_sum_squares, total_count

In [78]:
# Функция для расчета среднего и дисперсии
def calculate_mean_variance(df):
    mapped_values = map(map_function, [df])
    total_sum_price, total_sum_squares, total_count = reduce(reduce_function, mapped_values)
    mean = total_sum_price / total_count
    variance = (total_sum_squares / total_count) - (mean ** 2)
    return mean, variance

In [79]:
%%time
mean, variance = calculate_mean_variance(df)
print(f"Среднее значение: {mean}")
print(f"Дисперсия: {variance}")

Среднее значение: 152.7206871868289
Дисперсия: 57672.8456984336
CPU times: total: 0 ns
Wall time: 1 ms